:root {
  --main-background: #f8fafc;
  --sidebar-background: #e2e8f0;
  --select-background: #fecaca;
  --project-card-background: #f1f5f9;
  --dark-red-color: #7f1d1d;

  --font-color: #334155;
  --select-font-color: #f87171;

  --icon-height: 20px;

  --thin-border: 1px solid #e2e8f0;
  --light-shadow: var(--thin-border);
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--font-color);
  background-color: var(--main-background);
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
}

/* Sidebar styles */
#sidebar {
  background-color: var(--sidebar-background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.5rem;
}

.todo-heading {
  text-align: center;
  font-size: 2rem;
  color: var(--dark-red-color);
}

.projects-heading {
  font-style: italic;
  text-align: center;
  font-size: 1.2rem;
}

#projects-titles-container {
  height: 70vh;
  overflow: scroll;

  padding: 0.5rem;
}

.projects-title-sub-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 0.25rem;
}

.icon {
  height: var(--icon-height);
}

.toggle-project {
  background-color: transparent;
  border: none;
}

#add-project {
  border-radius: 10px;
  border: 1px solid var(--dark-red-color);
  color: var(--dark-red-color);
  font-size: 1rem;
  background-color: transparent;
}

#add-project:active {
  background-color: var(--select-background);
}

/* Main styles */
#main {
  display: grid;
  overflow: scroll;
}

#main-sub-container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.project-card {
  height: max-content;
  width: 20vw;
  background-color: var(--project-card-background);
  padding: 0.5rem 1rem 1rem 1rem;
  border-radius: 10px;
  border: 1px solid #e2e8f0;
}

.project-card-title-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  border-bottom: 1px solid #e2e8f0;
  margin-bottom: 1rem;
  text-align: center;
  padding-bottom: 0.5rem;
  align-items: center;
  font-size: 1.2rem;
}

.task-cards-container {
  display: grid;
  gap: 1rem;
}

.task-card {
  font-size: 0.9rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(3, max-content);
  overflow: hidden;
  gap: 0.25rem 0.25rem;
  border: 1px solid #e2e8f0;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: var(--thin-border);
}

.task-check {
  grid-row: 1 / -1;
}

.task-title {
  font-size: 0.9rem;
}

.due-date,
.priority {
  font-size: 0.6rem;
}

.due-date {
  font-style: italic;
}

.priority {
  font-weight: bold;
}

.low-priority {
  color: rgb(98, 135, 42);
}

.medium-priority {
  color: rgb(131, 131, 12);
}

.high-priority {
  color: rgb(100, 20, 20);
}

/* Project dialog styling */
dialog {
  width: 50vw;
}

#add-project-form {
  position: fixed;
  border-radius: 10px;
  border: 1px solid #e2e8f0;
  box-shadow: var(--thin-border);
  padding: 1rem;
}

dialog::backdrop {
  backdrop-filter: blur(2px);
}

.form-heading {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--dark-red-color);
}

.form-label {
  font-size: 0.9rem;
}

input[type="text"],
input[type="date"],
#task-description,
select {
  border-radius: 5px;
  border: var(--thin-border);
  outline: none;
  padding: 0.25rem 0.5rem;
  background: none;
}

.form-button-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  margin-top: 1rem;
}

.form-button {
  border-radius: 5px;
  border: var(--thin-border);
  padding: 0.4rem;
  font-size: 0.8rem;
  color: var(--dark-red-color);
}

.confirm-button {
  background-color: var(--dark-red-color);
  color: var(--main-background);
}

#add-task-form-container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem 0.25rem;
  align-items: center;
  >label {
    justify-self: end;
  }
}

.description-label {
  align-self: start;
}

#priority {
  accent-color: var(--dark-red-color);
}

.priority-names-container {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
  margin-top: -0.5rem;
}

.priority-name {
  font-weight: bold;
  font-size: 0.8rem;
}